.hide_formobile {
  display: none;
}

.logo-desktop {
  display: none;
}

.yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd3;
  height: 80px;
}

.bar {
  display: flex;
  justify-content: space-between;
}

.logo-mobile img {
  width: 6rem;
}

.search-kit {
  display: flex;
}

.menu {
  height: 3rem;
}