@media (min-width: 768px) and (max-width: 1024px) {
  .hide-side1 {
    display: block;
    background-color: black;
    width: 70rem;
    height: 2.5rem;
    color: #9f9f97;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .news_link {
    margin-left: 11rem;
    color: white;
  }

  .logo-mobile img {
    margin-top: -2rem;
    padding-right: 49rem;
    margin-left: -1rem;
  }
  
  .news_link,
  .nevents,
  .nbusiness,
  .namas,
  .nspaces,
  .nterms,
  .nabout,
  .nadvertise,
  .njobs,
  .contact {
    padding-right: 0.5rem;
  }

  .menu {
    display: none;
  }

  .hidden-links {
    margin-left: -1.5rem;
  }

  .yellow {
    margin-top: -0.5rem;
    width: 146%;
  }

  .search-mobile {
    display: none;
  }

  .search-tablet {
    display: block;
    margin-left: 2rem;
    margin-right: 3rem;
  }

  .vltwo {
    display: none;
  }

  .news {
    display: grid;
    width: 70rem;
    height: 45rem;
    margin-top: 0.01rem;
    grid-template-columns: 70% 30%;
    grid-template-rows: 45% 55%;
  }

  .main_news {
    height: 45rem;
    width: 48.5rem;
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .first_sub_news {
    width: 21rem;
    height: 20.25rem;
    grid-row: 1;
    grid-column: 2;
  }

  .second_sub_news {
    margin-top: 0.5rem;
    height: 24rem;
    width: 21rem;
    grid-row: 2;
    grid-column: 2;
  }

  .world {
    top:28rem;
  }

  .martian {
    top: 28rem;
    width: 35rem;
    font-size: 3.2rem;
  }

  .first_author {
    top: 42.5rem;
    font-size: 1.5rem;
  }

  .fa-clock {
    margin-right: 2rem;
  }

  .watch {
    top:11rem;
    left: 49.5rem;
  }

  .nigeria {
    top: 34.5rem
  }

  .matt {
    top: 42.5rem;
    font-size: 1rem;
  }

  .insights {
    top: 32.5rem;
  }

  .news-pieces {
    width: 70rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
  }
 
  .new {
    display: block;

  }

  .new-picture-image {
    width: 20rem;
    height: 12rem;
  }

  .new-text {
    width: 23rem;
    margin-left: 1rem;
  }

  .new-time {
    font-size: 1rem;
  }

  .latest-funding {
    width: 20rem;
  }

  .rounds {
    display: flex;
  }

  .company {
    width: 22rem;
  }

  .raising {
    width: 22rem;
  }

  .more-funding-info {
    width: 22rem;
  }

  .brief {
    height: 5rem;
    width: 20rem;
    font-size: 1.2rem;
  }

  .headlines {
    width: 71rem;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .box {
    margin-left: 1rem ;
    font-size: 1.2rem;
  }
  .make_transperant {
    height: 23rem;
  }

  .info {
    margin-top: 1rem;
  }

  .grid-list {
    font-size: 1.5rem;
  }

  .company-logo-first {
    top: 128.5rem;
  }

  .company-logo-second {
    top: 128.5rem;
    left: 25rem;
  }

  .company-logo-third {
    top: 128.5rem;
    left: 49rem;

  }
  .about-headline {
    font-size: 1.8rem;
  }

  .most {
    font-size: 1.2rem;
  }

  .deals-container {
    width: 70rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .deal {
    display: block;
  }

  .deal-image {
    height: 16rem;
    width: 22rem;
  }

}
